[user]
	name = Phil Picton
	email = hi@philpicton.dev
[init]
	defaultBranch = main

[core]
  pager = delta
  excludesFile = /Users/phil/.gitignore_global

[interactive]
  diffFilter = delta --color-only

[include]
  path = /Users/phil/.config/delta/themes/catppuccin.gitconfig

[delta]
  features = catppuccin-mocha
  side-by-side = true

[merge]
  conflictStyle = zdiff3
